<!DOCTYPE html>
<html>
  <head>
    <title><%= 'blog' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>

      <%- include partial/header.ejs %>
      <div class="article-page border">

        <div>
           <form action="/posts/comment/<%= comment.id %>" method="POST" >
              <textarea name="title" rows="5" cols="50" placeholder="write comment here..."><%- comment.title %></textarea>
              <button class="submit">submit</button>
            </form>
        </div>
      </div>
    </body>
</html>
