<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include partial/header.ejs %>

    <div class="main-container">
      <form action="/user" method="POST">
    	<input id="title" type="text" name="title" placeholder="Title" value=""><br><br>
      <input id="tags" type="text" name="tags" placeholder="tags" value=""><br><br>
      <textarea name="description" id="message" placeholder="What's on your mind?"></textarea><br>

      <div class="btn">
    	<button class="submit-btn">submit</button>
    </div>
		</form>
	</div>
  </body>
</html>
