<!DOCTYPE html>
<html>
  <body>
      <%- include partial/header.ejs %>
    <div class="main-container">
    
        Logged Out this page
 
      </div>
      <% } %>
    </div>
  </div>
  </body>
</html>
