<!DOCTYPE html>
<html>
  <head>
    <title><%= 'blog' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include partial/header.ejs %>

    <div class="main-container">
        <h1> <%= locals.user.name %> </h1>
	</div>
  </body>
</html>
