<!DOCTYPE html>
<html>
  <head>
    <title><%= 'blog' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <div>
      <h1 class="logo"><a href="/posts"><%= 'Blog-Post' %></a></h1>
      </div>
      <div>
        <a href="/"><button class="create-btn">+</button></a>
      </div>
    </header>
  </body>
</html>
